---
name: Backend unit tests

on:
  push:
    branches:
      - "main"
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.17", "1.18"]

    name: Go unit tests
    steps:
      - uses: actions/cache@v3
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - run: |
          sudo apt -y update
          sudo apt -y install libgpgme-dev libbtrfs-dev libdevmapper-dev

      - uses: actions/checkout@v3

      - uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go }}

      - name: build the images required for the tests
        run: ./test_data/setup_images.sh /tmp/img_dir

      - name: run tests with coverage
        run: |
          go test -race -coverprofile=analyzer.out -covermode=atomic ./bin/analyzer
          go test -race -coverprofile=storage.out -covermode=atomic ./bin/storage
          go test -race -coverprofile=pkg.out -covermode=atomic ./pkg
        env:
          IMG_DIR: /tmp/img_dir

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          files: ./analyzer.out,./storage.out,./pkg.out
